{% extends './Base.html' %}{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    

  <h1>Cart</h1>
  {% if cart_detail_list %}
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <form method="POST" src="multipart/formdata">
          {% csrf_token %}
        {% for detail in cart_detail_list %}
          <tr>
            <td>{{ detail.product.product_name }}</td>
            <td>{{ detail.product.price }}</td>
            <td>
              
              <a href="{% url 'removefromcart' detail.product.pk %}">
                <button type="submit" class="btn btn-sm btn-danger">-</button>
              </a>
              {{ detail.quantity }}
              <a href="{% url 'addtocart' detail.product.pk %}">
                <button type="submit" class="btn btn-sm btn-success">+</button>
              </a>
            </td>
            <td>
              <a href="{% url 'removefromcart' detail.product.pk %}">
                <button type="submit" class="btn btn-sm btn-danger">Remove</button>
              </a>
              
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="3"><strong>Total:</strong></td>
          <td><strong>{{ cart.total }}</strong>   <a href="#">
            <button type="submit" class="btn btn-sm btn-primary">Order Now</button>
          </a></td>
          <td></td>
        </tr>
        
      </form>
      </tbody>
    </table>
  {% else %}
    <p>Your cart is empty.</p>
  {% endif %}
{% endblock %}
</body>
</html>