{% extends './Base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Update</title>
</head>
<body>
    {% block content %}
  <h1>Update User Profile</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.first_name | as_crispy_field}}
    {{form.last_name | as_crispy_field}}
    {{form.email | as_crispy_field}}
    {{form.age | as_crispy_field}}
    
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
{% endblock %}
</body>
</html>